@{
    ViewBag.Title = "Sales";
}
<h2>Record of Sales</h2>

<table class="table">
    <tr>
        <th>
            Sale ID
        </th>
        <th>
            Purchase Date
        </th>
        <th>
            Quantity of Albums
        </th>
        <th>
            Income
        </th>
    </tr>

@{
    foreach (var item in ViewData["summaries"] as IEnumerable<IDEIMusic.Models.SaleSummary>)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
    </tr>
    }
}

</table>
