@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Instituto Superior de Engenharia do Porto<br />
    Rua Dr. António Bernardino de Almeida, 431 <br />
    <abbr>Phone: +351 22 83 40 500 </abbr>
    <hr />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1501.490925659603!2d-8.606661898144624!3d41.178563044338816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2464483ea6f855%3A0x3c51ce33cb7d81a7!2sR.+Dr.+Ant%C3%B3nio+Bernardino+de+Almeida+431%2C+4200-072+Porto!5e0!3m2!1spt-PT!2spt!4v1417864331733" width="400" height="300" frameborder="0" style="border:0"></iframe>

   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:1111315@isep.ipp.pt">Francisco Santos</a><br />
                                <a href="mailto:1121296@isep.ipp.pt">Rui Silva</a>
                                <a href="mailto:1100537@isep.ipp.pt">Sofia Sá</a>
</address>